body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,165,0,1) 0%);
}
header{
    height: 10vh;
}
main{
    min-height: 80vh;
}
footer {
   
    height: 10vh;
    background-color: #151719;
  }
  footer h2, h4, a,p{
    color: white;
  }
.categorias{
    background-color: #fff; /* Establece el color de fondo blanco */
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}