body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,165,0,1) 0%);
}
header{
    height: 10vh;
}
main{
    min-height: 80vh;
}
footer {
   
    min-height: 10vh;
    background-color: #151719;
  }
  footer h2, h4, a,p, li{
    color: white;
  }

  .sales-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sales{
      display: flex;
      justify-content: center;
      align-items: center; /* Centra verticalmente */
      background: rgb(255,165,0,1);
    }
      

  #saleImg{
      display: flex;
      flex-wrap: wrap;
      width: 60%;
      height: 40rem;
      object-fit: contain; /* Ajusta según tus necesidades */
      object-position: center; /* Centra la imagen */
      justify-content: center;
  }
.categorias{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 5rem;
  padding-bottom: 5rem
  
  
}

.celulares{
  display: flex;
  height: 15rem;
  width: 15rem;
  background-color: orangered;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.pc{
  height: 15rem;
  width: 15rem;
  background-color: blue;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.electrodomesticos{
  height: 15rem;
  width: 15rem;
  background-color: yellow;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}